* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
}

.header {
    width: 100%;
    text-align: center;
}

.header-title {
    font-size: 2rem;
}

.crypto-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    /* height: 100px; */
    margin: 0 5px;
    max-height: 600px;
    overflow-y: scroll;
}

.crypto-list-item {
    margin: 25px 0;
    padding: 3px;
}

#scroll-area {
    width: 100%;
    min-height: 50px;
    background-color: aquamarine;
}